<header>
    <div class="container-flux">
        <div class="logo">
            <img src="../images/green-logo.jpg">
        </div>
        <div class="row">
            <div class="col-12">
                <div class="barra">
                    <button><a href='/'>Home</a></button>
                    <button><a href='/productos'>Productos</a></button>
                    <button><a href='/bolsones'>Bolsones</a></button>
                    <button><a href='/carrito'>Carrito</a></button>
                    <input type="text" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
</header>
    