<!DOCTYPE html>
<html>
    <head>
        <meta chartset ="utf-8">
        <title>green</title>
        
        <link href="../css/style-productos.css" rel=stylesheet>
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        
        <main>
            <div class="titulos">
                    <h3 class="encabezado">Bolsones</h3>                    
            </div>
                <section class="vip-products">
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/mix-verduras.jpg"></a>
                        </div>
                        <h2>Bolson 1</h2>
                        <p>$100</p>
                    </article>
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/mix-verduras.jpg"></a>
                        </div>
                        <h2>Bolson 2</h2>
                        <p>$100</p>
                    </article>
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/mix-verduras.jpg" alt="pdto 03"></a>
                        </div>
                        <h2>Bolson 3</h2>
                        <p>$100</p>
                    </article>
                </section>
        </main>
        <hr>
        <footer>
                <img class="mapa" src="../images/mapa.jpg">
                <div class="texto-dire">
                    <p>Retira tu pedido por Monroe 860 los dias Martes de 10 a 17hs.</p>
                </div>
                <div class="contacto">
                    <ul>
                        <li>Conectate a nuestras redes:</li>
                        <li><a href="www.instagram.com">Instagram</a></li>
                        <li><a href="www.facebook.com">Facebook</a></li>
                    </ul>
                </div> 
            </footer>

        
    </body>
</html>