<!DOCTYPE html>
<html>
    <head>
        <meta chartset ="utf-8">
        <title>green</title>
        <link href="/css/style-home.css" rel=stylesheet>
        
    </head>
    <body>
        <%- include('partials/header.ejs') %>
        <main>
            <div class="titulos">
                    <h1><strong>GREEN</strong></h1>
                    <h3>Trabajamos con productos organicos</h3>
                    <button type="button"><a href="./users/login"> Ingresar con tu usuario</a></button>
                    <button type="button"><a href="./users/register"> Si no tenes usuario Registrate aqui</a></button>
            </div>
        </main>
        <hr>
        <footer>
            <img class="mapa" src="/images/mapa.jpg">
            <div class="texto-dire">
                <p>Retira tu pedido por Monroe 860 los dias Martes de 10 a 17hs.</p>
            </div>
            <div class="contacto">
                <ul>
                    <li>Conectate a nuestras redes:</li>
                    <li><a href="www.instagram.com">Instagram</a></li>
                    <li><a href="www.facebook.com">Facebook</a></li>
                </ul>
            </div> 
        </footer>

        
    </body>
</html>